{#
/**
 * @file
 * Default theme implementation to display a one-column layout.
 *
 * Available variables:
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'layout',
    'layout--onecol',
    'search-web-components'
  ]
%}
{% if content %}
    <div{{ attributes.addClass(classes) }}>
      <search-root{{ settings.search_root_attributes }}>
        <div {{ region_attributes.content.addClass('layout__region', 'layout__region--content') }}>
          {{ content.main }}
        </div>
      </search-root>
    </div>
{% endif %}
